@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qriblv');
  src:  url('fonts/icomoon.eot?qriblv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qriblv') format('truetype'),
    url('fonts/icomoon.woff?qriblv') format('woff'),
    url('fonts/icomoon.svg?qriblv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-moon-fill:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-microphone:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-pin:before {
  content: "\e903";
}
